In [8]:
#Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [9]:
#Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [10]:
#Exercise 10 - Insert a markdown cell to list Objectives

## Objectives:
- List popular languages for Data Science
- List libraries commonly used by Data Scientists
- List Data Science tools
- List examples of evaluating arithmetic expressions in Python

In [11]:
#Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists uses are:
1. Python
2. R
3. SQL

In [12]:
#Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used librabies by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

In [13]:
#Exercise 6 - Create a markdown cell with a table of Data Science tools
##three development environment open source tools used in data science

| Data Science Tools |
| ------------------ |
| Jupiter Noteabook |
| RStudio |
| Apache Spark |

In [14]:
#Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Pytho
1. Addition (+)
2. Substraction (-)
3. Multiplication (*)
4. Division (/)

In [15]:
#Exercise 8 - Create a code cell to multiply and add numbers
##This a simple arithmetic expression to mutiply then add integers

In [16]:
(3*4)+5

17

In [17]:
#Exercise 9 - Create a code cell to convert minutes to hours
##This will convert 200 minutes to hours by diving by 60

In [18]:
200/60

3.3333333333333335

In [19]:
#Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Hoo Yan Peng